@use 'header';
@use 'search';
@use 'filters';
@use 'main';
@use 'mediaquery';

/* VARIABLES */
/* REESTABLEZCO VALORES DE LA PÁGINA */
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: #f3f4f6; 
}

/* CONTENEDOR PADRE */
.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%; 
}