@charset "UTF-8";
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 8%;
  background-color: white;
  border-bottom: 1px solid #d1d1d1;
}
.header a {
  display: flex;
  align-items: center;
  width: max-content;
  justify-content: space-around;
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
}
.header img {
  width: 32px;
  height: auto;
}
.header h2 {
  display: flex;
  margin-left: 3px;
}
.header-logo {
  display: flex;
  width: 28%;
  margin-left: 5%;
}
.header-menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-style: 20px;
  font-size: 20px;
  margin-right: 5%;
  width: 40%;
}
.header-nav {
  display: flex;
}

.header-wiky,
.Episode-Title {
  color: #4085f6;
}

.main-search {
  width: 79%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
  /* BOTON DE BUSCAR */
  /* BUSCADOR */
}
.main-search button {
  font-family: "Roboto", sans-serif;
  background-color: #3b82f6;
  color: white;
  width: 11%;
  border: none;
  border-radius: 10px;
  height: 40px;
  cursor: pointer;
}
.main-search-target {
  display: flex;
  justify-content: space-evenly;
  width: 81%;
}
.main-search-target input {
  width: 70%;
  height: 38px;
  border-radius: 25px;
  border: 1px solid gray;
}

.main {
  /* LIMPIAR FILTROS */
  /* FILTROS */
}
.main-clear {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-clear span {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.main-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  background: white;
  height: max-content;
  padding: 2% 0%;
  border-radius: 15px;
  /* CONTENEDOR DE FILTROS */
}
.main-filter div {
  display: flex;
  flex-direction: column;
  align-items: space-around;
}
.main-filter-contain {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

/* SELECCIONADOR EPISODIOS Y LOCACIONES */
.form-select {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
  height: 40px;
  border-radius: 10px;
  border: solid 1px #acacac;
}

/* FILTROS */
label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  width: 100%;
  margin: 7% 0%;
  font-family: "Roboto", sans-serif;
}

/* CONTENEDOR PADRE */
.main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 80%;
  flex-direction: column;
  /* CONTENEDOR DE TARJETAS Y FILTROS */
  /* CONTENEDOR EPISODIOS Y LOCACIONES */
  /* CONTENEDOR DE TARJETAS */
  /* TARJETA DE PERSONAJES */
  /* FLECHAS */
}
.main-content {
  display: flex;
  width: 85%;
  flex-wrap: wrap;
}
.main-con {
  display: flex;
  width: 85%;
}
.main-target {
  display: flex;
  width: 78%;
  flex-wrap: wrap;
}
.main-character {
  width: 30%;
  height: 45vh;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  margin-left: 3%;
  margin-bottom: 3%;
}
.main-img {
  display: flex;
  border-radius: 50%;
  width: 65%;
  height: auto;
}
.main-following {
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 62px;
  margin-left: 78px;
}
.main-following img {
  width: 32px;
  height: 32px;
  display: flex;
  cursor: pointer;
}
.main-buy {
  border: 0;
  color: blue;
  background-color: #98befc9d;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  width: 110%;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.episodes {
  display: flex;
  flex-direction: column;
  width: 35%;
}

/* TARJETA DE PERSONAJES */
img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  text-align: center;
}

h3 {
  font-size: 15px;
  font-weight: normal;
  color: gray;
  padding: 10px 0px;
  margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

h4 {
  font-size: 15px;
  margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.alive,
.dead,
.unknown {
  padding: 10px;
  border-radius: 15px;
  width: 65px;
  text-align: center;
  margin: 0;
  margin-bottom: 10%;
  font-family: "Roboto", sans-serif;
}

.alive {
  color: green;
  background-color: rgba(70, 214, 70, 0.5);
}

.dead {
  color: red;
  background-color: rgba(250, 116, 116, 0.5);
}

.unknown {
  color: gray;
  background-color: rgba(206, 206, 206, 0.5);
}

/* FLECHAS */
.arrowback {
  transform: rotate(90deg);
}

.arrowfollowing {
  transform: rotate(271deg);
}

/** VARIABLES  */
/* CARRITO */
.box {
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 1rem #00000025;
}

.grid-responsive {
  grid-template-columns: repeat(auto-fit, minimax(200px, 1fr));
  gap: 1rem;
}

@media only screen and (max-width: 1000px) {
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-search-target {
    width: 100%;
  }
  .main-filter {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: max-content;
    padding: 5px;
  }
  .main-filter div {
    display: flex;
    flex-direction: row;
    margin: 3px;
  }
  .main-filter div h4 {
    margin: 5px;
  }
}
@media only screen and (max-width: 680px) {
  .header-logo {
    width: 60%;
  }
  .header-menu {
    display: flex;
    flex-direction: column;
    width: 90px;
  }

  h1 {
    font-size: 30px;
  }

  .main-filter {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: max-content;
  }
  .main-search button {
    width: max-content;
    height: 33px;
  }
  .main-target {
    justify-content: center;
  }
}
/* VARIABLES */
/* REESTABLEZCO VALORES DE LA PÁGINA */
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: #f3f4f6;
}

/* CONTENEDOR PADRE */
.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*# sourceMappingURL=styles.css.map */
